.home{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oval-container {
    position: relative;
    background-color: #2D81E1;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 0; /* Устанавливаем маргин на ноль */
    width: 100px;
    align-content: center;
}

.title {
  color: white;
  text-align: center;
  font-size: 20px;
}
.title2 {
    color: white;
    text-align: center;
    font-size: 20px;
    position: relative; /* добавляем относительное позиционирование */
    top: 50%;
    transform: translateY(-50%); /* сдвигаем элемент на половину его высоты наверх */
    background-color: #2D81E1; /* цвет фона */
    padding: 10px 20px; /* отступы */
    border-radius: 20px; /* радиус скругления */
}

.home-panel {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image {
  width: 250px; /* Увеличиваем размер изображений */
  height: 250px;
  margin-bottom: 10px; /* Добавляем отступ между изображениями и текстом */
  clip-path: circle(63% at center); /* Создаем круглую область с радиусом 50% */
}
.image:hover{
  width: 270px; /* Увеличиваем размер изображений */
  height: 270px;
}

.image-text {
  text-align: center;
}

.template-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #C2D6E4;
  align-items: center;
  height: 100%;
  width: 100%;

}

.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.template-image {
  clip-path: circle(65% at center);
}

.template-text {
  margin-top: 10px;
  text-align: center;
}